.que.cppexpression  label .accesshide {
    /*display: none;*/
    padding: 0.3em;
    width: auto;
    display: inline;
}

.que.cppexpression .answer input {
    width: 80%;
}

/* Editing form. */
body#page-question-type-shortanswer div[id^=fgroup_id_][id*=answeroptions_] {
    background: #EEE;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #BBB;
    border-bottom: 0;
}

body#page-question-type-shortanswer div[id^=fgroup_id_][id*=answeroptions_] .fgrouplabel label {
    font-weight: bold;
}

body#page-question-type-cppexpression label[for^='id_answer_']{
    position: absolute;
    left: -10000px;
    font-weight: normal;
    font-size: 1em;
}

body#page-question-type-cppexpression div[id^=fitem_id_][id*=fraction_] {
    background: #EEE;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #BBB;
    border-top: 0;
    border-bottom: 0;
}

body#page-question-type-cppexpression div[id^=fitem_id_][id*=feedback_] {
    background: #EEE;
    margin-bottom: 2em;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #BBB;
    border-top: 0;
}

body#page-question-type-cppexpression fieldset[id^=id_answer] div.felement div.form-group.fitem {
    width:inherit;
}

body#page-question-type-cppexpression fieldset[id^=id_answer] div.form-group.fitem+div.form-group.fitem {
    width:auto;
}

body#page-question-type-cppexpression fieldset[id^=id_answer] input[id^=id_answer_] {
    width:100%
} 

#array2d_hint #hint_tables{
    width : 100%;	
}

#hint_tables tr, #hint_tables td {
	vertical-align: top;
}

#array2d_hint .array2d_hint_text{
	margin-top : 10px;
	color : black;  
	font-size : 12pt;	
}

#array2d_hint .array2d_hint_table{
    border: 2px solid black;
	margin-bottom : 5%;
	table-layout: fixed;
	width: 95%;
}

.array2d_hint_table td, .array2d_hint_table tr{  
	color : black;  
	font-size : 13pt;
    border: 1px solid black;
}

.array2d_hint_table td:after{
  content: '';
  display: block;
  margin-top: 30%;
}

.array2d_hint_table .correct{
    background-color: rgb(179, 255, 179);
}

.array2d_hint_table .incorrect{
    background-color: rgb(255, 221, 182);
}